/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";

s|ViewNavigatorApplication{
	backgroundColor: #1B1B24;
}
s|View, s|List{
	backgroundAlpha: 0;
	color: #FFFFFF;
	textShadowColor: #000000;
	contentBackgroundAlpha: 0;
	contentBackgroundColor: #1B1B24;
}
s|IconItemRenderer{
	alternatingItemColors: #242244;
}
s|Button{
	color: #E1DEFF;
	chromeColor: #2F2D4B;
	accentColor: #4D4B7A;
	
}

s|ActionBar{
	titleAlign: center;
	chromeColor: #29264D;
}

s|ActionBar #titleDisplay{
	color: #C9C3E6;
	fontWeight: normal;
}

.error
{
	color: #A10000;
	fontSize: 20;
	fontWeight: bold;
	textAlign: center;
	verticalAlign: middle;
}
s|TextInput
{
	color: #323232;
}
s|BusyIndicator{
	symbolColor: #E1DEFF;
}
s|List
{
	content-background-alpha: 0.0;
}